/* Style utils */
.chevron {
  font-size: 2em;
  color: inherit;
  border: none;
  vertical-align: bottom;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.center-media {
  display: block;
  margin: 0 auto;
}

.screenshot img {
  border: 1px solid #666;
}
