body {
  margin: 0px auto;
  max-width: 800px;
  line-height: 1.6;
  padding: 0 10px;
  font-size: 14px;

  font-family: var(--default-font);

  background-color: var(--background);
  color: var(--foreground);

  /*
  * This hack is for the sticky footer. We essentially define this element as
  * a flex container with a minimum height of 100 percent of the viewport.
  */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*
 * In order for the sticky footer to work, we need the content section to expand
 * and fill up as much space as is available.
 */
main {
  flex: 1;
}

/* Header styles */

body > header {
  margin: 1em 0 1em 0;
  font-size: larger;
  letter-spacing: -0.04em;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  display: inline-block;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

.meta-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* Footer styles */

body > footer {
  text-align: center;
  clear: both;
  margin: 1em 0 2em 0;
}

tr:first-child {
  font-weight: bold;
  color: var(--heading);
}

/* General page styles */

a,
a:visited {
  text-decoration:none;
  color: var(--link);
  border-bottom: 1px solid;
}

a:visited {
  color: var(--link-visited);
}

a.active {
  background-color: var(--link);
  color: var(--background);
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  color: var(--background);
  background-color: var(--link-hover);
}

time {
  color: #666;
}

b, strong {
  color: var(--heading);
}

h1, h2, h3, h4, h5 {
  color: var(--heading);
}


hr {
  border: none;
  border-top: 1px solid #ddd;
  color: #ddd;
  overflow: visible;
  margin: 2em 0 2em 0;
  padding: 0;
  text-align: center;
}

/* Article styling */
article {
  font-size: 14px;
  line-height: 20px;
}

article time {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 0.3em;
}

article h1 {
  text-transform: uppercase;
  font-weight: bold;
}

article h2, h3, h4, h5 {
  margin: 30px 0px 10px 0px;
}

article ul {
  margin: 0px 10px 0px 0px;
}

article figure {
  margin: 0 0 1.5em;
}

article figcaption h4 {
  margin-top: 0.25em;
}

article blockquote {
  font-style: italic;
  margin: 0;
  padding: 0 1em 0;
  border-left: 2px solid #7FDBFF;
}

/* Article element styles */
article pre,
article code {
  font-family: var(--default-font);
}
article pre {
  white-space: pre-wrap;
  border-left: 3px solid var(--foreground);
  margin: 2em 0;
  padding: 0.5em 0 0.5em 1em;
}
article p code,
article li code {
  color: var(--subtitle);
  font-weight: bolder;
}

article img,
article svg {
  max-width: 100%;
}

/* Pagination styles */

.pagination {
  text-align: center;
}
.pagination,
.post-navigation {
  line-height: 2em;
}

/* Because of how floats work, we need to make sure there's content in the
same element as a floated div to make sure we get the margins we expect. */
.pagination:after,
.post-navigation:after {
  content: '.';
  visibility: hidden;
}

/* Dark mode helpers */

/*
 * We start off with the toggle set to hidden so we can un-hide it if the user
 * has scripts enabled.
 */
#dark-mode-toggle {
  display: none;
}

/* Various helpers */
#article-list {
  width: 100%;
}

#article-list th {
  text-align: left;
}

#article-list .tags {
  text-align: right;
}

.subtitle {
  color: var(--subtitle);
}

.heading {
  font-weight: bold;
}

.tags a {
  color: var(--subtitle);
}
