<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <title>
    {{- block "title" . -}}
      {{- if not .IsHome -}}
        {{ .Title }}{{ if .Draft }} :: DRAFT{{ end }}&nbsp;&mdash;&nbsp;
      {{- end -}}
    {{- end -}}
    {{- .Site.Title -}}
  </title>

  {{- $simple := resources.Get "css/simple-2.3.5.css" -}}
  {{- $chroma := resources.Get "css/chroma.css" -}}
  {{- $extra := resources.Get "css/extra.css" -}}
  {{- $css := slice $simple $chroma $extra | resources.Concat "css/bundle.css" | minify }}
  <link href="{{ $css.RelPermalink }}" rel="stylesheet" />
</head>

<body>
  <header>
    {{ partial "header.html" . }}
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>
