{{ define "main" }}
  <div>
    <ul class="data-list">
      {{ if gt .Date 0 }}
        <li><b>Posted:</b> <time datetime="{{ .Date.Local.Format "2006-01-02T15:04-0700" }}" title="{{ .Date.Local.Format "2006-01-02 03:04 PM -07:00" }}">{{ .Date.Local.Format "2006-01-02" }}</time></li>
      {{ end }}
      {{ if (and (not .Params.hide_updated) (ne .Date .Lastmod))}}
        <li><b>Updated:</b> <time datetime="{{ .Lastmod.Local.Format "2006-01-02T15:04-0700" }}" title="{{ .Lastmod.Local.Format "2006-01-02 03:04 PM -07:00" }}">{{ .Lastmod.Local.Format "2006-01-02" }}</time></li>
      {{ end }}
      {{ if .Params.tags }}
        <li class="tags">
          <b>Tags:</b>
          {{ range .GetTerms "tags" }}
            <a href="{{ .RelPermalink }}">#{{ .Data.Term }}</a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </div>

  {{ if .Params.toc }}
    <details>
      <summary>Table of Contents</summary>
      {{ .TableOfContents }}
    </details>
  {{ end }}

  <article>
    {{ .Content }}
  </article>
{{ end }}
