{{ define "main" }}
<!--{{ partial "post-nav" . }}-->

  <div>
    <ul class="data-list">
      {{ if gt .Date 0 }}
      <li><b>Date:</b> <span class="subtitle">{{ .Date.Format "2006-01-02 03:04 PM" }}</span></li>
      {{ end }}
      {{ if (and (not .Params.hide_updated) (ne .Date .Lastmod))}}
      <li><b>Updated:</b> <span class="subtitle">{{ .Lastmod.Format "2006-01-02 03:04 PM" }}</span></li>
      {{ end }}
      {{ if .Params.tags }}
      <li class="tags">
        <b>Tags:</b>
        {{ range sort .Params.tags }}
        <a href="/tags/{{ . }}">#{{ . }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>

  {{ if .Params.toc }}
  <details>
    <summary>Table of Contents</summary>
    {{ .TableOfContents }}
  </details>
  {{ end }}

  <div>
    {{ .Content }}
  </div>
{{ end }}
