{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}{{ if .Draft }} :: DRAFT{{end}}
{{ end }}

{{ define "main" }}
  {{ partial "post-nav" . }}

  <article>
    <article-header>
      <h1>{{ .Title }}{{ if .Draft }} :: DRAFT{{end}}</h1>

      <ul class="meta-list">
        {{ if gt .Date 0 }}
        <li><b>Date:</b> {{ .Date.Format "2006-01-02 03:04 PM" }}</li>
        {{ end }}
        {{ if not .Params.hide_updated }}
          {{ if ne .Date .Lastmod }}
            <li><b>Updated:</b> {{ .Lastmod.Format "2006-01-02 03:04 PM" }}</li>
          {{ end }}
        {{ end }}
        {{ if .Params.tags }}
        <li>
          <b>Tags:</b>
          {{ range sort .Params.tags }}
            <a href="/tags/{{ . }}">#{{ . }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </article-header>

    <div>
      {{ .Content }}
    </div>
  </article>
{{ end }}
