<!-- Highlight.js stuff -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/hybrid.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>

<style>
    /* hack.css enhancements */
    html {
        font-size: 13px;
    }

    pre {
        border: none;
        padding: 0;
    }

    pre code {
        border: 1px solid #333;
    }

    .hack code {
        padding: 0.3rem;
    }

    .hack li ul {
        margin: 0;
    }
    .main {
        padding: 20px 10px;
    }
    article [itemprop="description"] {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .container {
        max-width: 50rem;
    }

    /* hack.css overrides */
    .dark pre code {
        color: #ccc;
    }
    nav a.active {
        background-color: #81a2be;
        color: #fff;
    }
    a {
        color: #81a2be;
        border-bottom: #81a2be;
    }
    a:hover {
        background-color: #81a2be;
    }
</style>
