<!-- Highlight.js stuff -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/hybrid.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>

<style>
    /* hack.css enhancements */
    html {
        font-size: 13px;
    }

    pre {
        border: none;
        padding: 0;
    }

    pre code {
        border: 1px solid #333;
    }

    .hack code {
        padding: 0.3rem;
    }

    .hack li ul {
        margin: 0;
    }
    .main {
        padding: 20px 10px;
    }
    article [itemprop="description"] {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .container {
        max-width: 50rem;
    }

    /* hack.css overrides */
    .dark pre code {
        color: #ccc;
    }
    nav a.active {
        background-color: #81a2be;
        color: #fff;
    }
    a {
        color: #81a2be;
        border-bottom: #81a2be;
    }
    a:hover {
        background-color: #81a2be;
    }

	/* Top bar color change */
	a[itemprop="url"] {
		  color: #81a2be;
	}

	a[itemprop="url"]:hover {
		  color: #fff;
	}

	/* Link icon color change */
	a[href*="//"]::after {
		  content: " "
			  url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%2381a2be'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
	}

	a[href*="//"]:hover::after {
		  content: " "
			  url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ffffff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
	}
</style>
