{{ if (or .PrevInSection .NextInSection) }}
  <div class="post-navigation">
    {{ with .PrevInSection }}
      <div class="pull-left">
        <a href="{{ .Permalink }}" class="chevron">&lsaquo;</a>
        <a href="{{ .Permalink }}">Previous Post</a>
      </div>
    {{ end }}

    {{ with .NextInSection }}
      <div class="pull-right">
        <a href="{{ .Permalink }}">Next Post</a>
        <a href="/post/installing-rust-on-chip/" class="chevron">&rsaquo;</a>
      </div>
    {{ end }}
  </div>
{{ end }}
