{{ define "main" }}
  <table id="article-list">
    <tr>
      <th>Date:</th>
      <th colspan="2">Title:</th>
    </tr>

    {{ range where .Paginator.Pages "Section" "ne" "" }}
    <tr>
      <td>
        <div class="subtitle" title="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date.Format "2006-01-02" }}</div>
      </td>
      <td>
        <a href="{{ .Permalink }}">{{ .Title }}{{ if .Draft }} :: DRAFT{{end}}</a>
      </td>
      <td class="tags">
        {{ range sort .Params.tags }}
          <a href="/tags/{{ . }}/">#{{ . }}</a>
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </table>

  {{ partial "paginator" .Paginator }}
{{ end }}
