{{ template "base" . }}

{{ define "title" }}
  {{ .Page.Title }}{{ if .Page.Draft }} :: DRAFT{{end}}
{{ end }}

{{ define "main" }}
  <article>
    <div>
      <h1>{{ .Meta.Title }}{{ if .Meta.Draft }} :: DRAFT{{end}}</h1>

      <ul class="data-list">
        {{ if gt .Meta.Date 0 }}
        <li><b>Date:</b> <span class="subtitle">{{ .Meta.Date.Format "2006-01-02 03:04 PM" }}</span></li>
        {{ end }}
        {{ if (and .Meta.ShowUpdated (ne .Meta.Date .Meta.Lastmod))}}
          <li><b>Updated:</b> <span class="subtitle">{{ .Meta.Lastmod.Format "2006-01-02 03:04 PM" }}</span></li>
        {{ end }}
        {{ if .Meta.Params.tags }}
        <li class="tags">
          <b>Tags:</b>
          {{ range .Meta.Tags }}
            <a href="/tags/{{ . }}">#{{ . }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>

    <div>
      {{ .HtmlContent }}
    </div>
  </article>
{{ end }}
